apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ volume_name }}
spec:
  capacity:
    storage: {{ volume_storage }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: {{ volume_reclaim_policy }}
  hostPath:
    path: /tmp/{{ volume_name }}