.idea/
.DS_Store
**/operator/
**/openshift-ansible/
**/.vagrant/
**/user-data

###########
# Ansible #
###########
#**/*.retry
ansible/inventory/*
!ansible/inventory/pass_inventory.py
!ansible/inventory/hosts.yml
!ansible/inventory/template
#ansible/roles/test
ansible/inventory/group_vars
ansible/inventory/host_vars

**/test.sh
_tmp

# Testing purposes
sandbox/cluster_up/test.sh

############
# Intellij #
############
*.iml
.idea/
.idea/**
*.iws
/out/
.idea_modules/
