.idea/
.DS_Store
.vscode/
**/operator/
**/openshift-ansible/
**/user-data
tooling/target

###########
# Ansible #
###########
#**/*.retry
ansible/inventory/*
!ansible/inventory/pass_inventory.py
!ansible/inventory/hosts.yml
!ansible/inventory/template
ansible/inventory/group_vars
ansible/inventory/host_vars

ansible/playbook/test.yml
ansible/roles/test/

ansible/remote-k8s-config.yml

**/test.sh
**/tests/
_tmp
*.tar.gz
output/**


# Testing purposes
sandbox/cluster_up/test.sh
.snowdrop-venv/

#######
# IDE #
#######
tooling/.*

############
# Intellij #
############
*.iml
.idea/
.idea/**
*.iws
/out/
.idea_modules/
/kind/dummy.sh
