.idea/
.DS_Store
**/operator/
**/openshift-ansible/
**/.vagrant/
**/user-data

###########
# Ansible #
###########
#**/*.retry
ansible/inventory/*
!ansible/inventory/pass_inventory.py
!ansible/inventory/hosts.yml
!ansible/inventory/template
#ansible/roles/test
ansible/inventory/group_vars
!ansible/inventory/group_vars/k8s_115
!ansible/inventory/group_vars/k8s_116
!ansible/inventory/group_vars/k8s_nodes
!ansible/inventory/group_vars/masters
ansible/inventory/host_vars

**/test.sh
_tmp

# Testing purposes
sandbox/cluster_up/test.sh
