---
# Tasks for get_provider_host_keys
- name: "Get passwordstore work folder from password_store_dir override variable"
  set_fact:
    my_passwordstore_folder: "{{ password_store_dir }}"
  when: "password_store_dir is defined and password_store_dir | length > 0"

- name: "Get passwordstore work folder from PASSWORD_STORE_DIR env variable"
  set_fact:
    my_passwordstore_folder: "{{ lookup('env', 'PASSWORD_STORE_DIR') | default('~/.password-store') }}"
  when: "password_store_dir is not defined or password_store_dir | length <= 0"

- name: "Set the pass URL"
  include_tasks: "set_pass_facts.yml"

- name: "Generate pass structure"
  include_tasks: "generate_pass_structure.yml"
  vars:
    username: "{{ vm_user | default('snowdrop') }}"
    custom_ssh_port_number: "{{ vm_custom_ssh_port | default('47286') }}"
  when: "operation is defined and operation == 'create' and (use_generic_ssh_key is not defined or ( use_generic_ssh_key | bool ))"

- name: "Generate pass ssh structure"
  include_tasks: "generate_pass_structure_ssh.yml"
  when: "operation is defined and operation == 'create' and use_generic_ssh_key is defined and not ( use_generic_ssh_key | bool )"

- name: "Adds to the controller the required information"
  include_tasks: "init_ssh_controller.yml"
  when: "use_generic_ssh_key is defined and not ( use_generic_ssh_key | bool )"

...
