apiVersion: v1
kind: Config
clusters:
- name: default-cluster
  cluster:
    certificate-authority-data: {{ k8s_ca }}
    server: {{ k8s_server }}
contexts:
- name: default-context
  context:
    cluster: default-cluster
    namespace: {{ k8s_namespace }}
    user: default-user
current-context: default-context
users:
- name: default-user
  user:
    token: {{ k8s_token }}
