apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ volume_name }}
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 3Gi
  hostPath:
    path: /tmp/{{ volume_name }}
    type: ""
  persistentVolumeReclaimPolicy: Recycle
