------------------

This machine is property of RedHat.
Access is forbidden to all unauthorized person.
All activity is being monitored.

Welcome to {{ ansible_hostname }}.{{ ansible_domain }}.

------------------
