---
# Variables:
#  - "vm_name": "n311-test"
#  - "openstack": {
#      "vm": {
#        "network": "provider_net_shared"
#      }
#    }}
#  . k8s_type: Kubernetes host type [masters,nodes], empty for no k8s installation
#  . k8s_version: Kubernetes version [117 ... 121], empty for no k8s installation

- name: "Create Server on Openstack"
  import_playbook: "openstack_vm_create.yml"
  vars: 
    openstack:
      vm:
        image: "{{ openstack_vm_image }}"
        flavor: "{{ openstack_vm_flavor }}"
        controller_host: ""

- name: "Add user credentials to AWX as machine credential"
  awx.awx.credential:
    name: "openstack-{{ vm_name }}"
    description: "User for {{ vm_name }} OpenStack VM."
    organization: "Default"
    credential_type: "Machine"
    state: present
    controller_oauthtoken: "{{ controller_oauthtoken }}"
    controller_username: "{{ awx_user_name }}"
    controller_host: "http://{{ AWX_DEMO_SERVICE_PORT_80_TCP_ADDR }}:{{ AWX_DEMO_SERVICE_PORT_80_TCP_PORT }}"
    inputs:
      username: "centos"
      ssh_key_data: "{{ lookup('file', key_path) }}"

# - name: "Secure new server"
#   import_playbook: "sec_host.yml"
#   vars:
#     provider: "openstack"
#     hosts: "{{ vm_name }}"
#     vm_name: "{{ vm_name }}"
...