---
- name: "Apply security roles to host"
  hosts: "{{ vm_name }}"
  gather_facts: yes

  tasks:
    - name: "Install firewalld"
      include_role:
        name: "sec/firewalld"

    - name: "Apply sysctl"
      include_role:
        name: "sec/sysctl"

    - name: "Install motd"
      include_role:
        name: "sec/motd"

    - name: "Configure journalctl"
      include_role:
        name: "sec/journalctl"

    - name: "Install audit"
      include_role:
        name: "sec/audit"

    - name: "Change sshd port"
      include_role:
        name: "sec/sshd_port"
      vars:
        new_ssh_port_number: "{{ query('passwordstore', provider + '/' + vm_name + '/ssh_port' )[0] }}"

- name:  "Update the ssh port"
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Get vm host vars
      set_fact:
        my_hostvars: "{{ hostvars[vm_name] }}"
      tags: [always]

    - name: Update inventory
      include_role:
        name: "passstore/ansible_inventory"
        tasks_from: "add_variable"
      vars:
        pass_l1: "snowdrop"
        pass_l2: "{{ provider }}"
        pass_l3: "{{ vm_name }}"
        var_name: "ansible_ssh_port"
        var_value: "{{ query('passwordstore', provider + '/' + vm_name + '/ssh_port' )[0] }}"
      tags: [always]

    - name: Update inventory
      include_role:
        name: "passstore/ansible_inventory"
        tasks_from: "remove_variable"
      vars:
        pass_l1: "snowdrop"
        pass_l2: "{{ provider }}"
        pass_l3: "{{ vm_name }}"
        var_name: "ssh_port"
      tags: [always]

- name:  "Apply host security roles 2"
  hosts: "{{ vm_name }}"
  gather_facts: yes
  roles:
    - role: 'sec/update'
      tags: [always]
# disable root user
...
