---
- name:  "TO BE REMOVED - COPY OF PRIOR TO DO THE CHANGE FOR TESTING Update the ssh port on AWX"
  hosts: localhost
  gather_facts: True
  vars:
    controller_host: "{{ lookup('env', 'AWX_DEMO_SERVICE_PORT_80_TCP_ADDR') }}"
    controller_port: "{{ lookup('env', 'AWX_DEMO_SERVICE_PORT_80_TCP_PORT') }}"


  tasks:
    - name: "Print variables"
      debug:
        msg: "{{ item }}"
      with_items: 
        - "hostvars[inventory_hostname]: {{ hostvars[inventory_hostname] }}"
        - "ansible_env: {{ ansible_env }}"
        
    - name: "Update inventory"
      awx.awx.host:
        # inventory: "{{ awx_inventory_name }}"
        name: "{{ vm_name }}"
        controller_oauthtoken: "{{ controller_oauthtoken }}"
        controller_username: "{{ awx_user_name }}"
        controller_host: "http://{{controller_host }}:{{ controller_port }}"
        variable:
          ansible_ssh_port: "{{ vm_custom_ssh_port }}"

- name: "Run sec_host Playbook"
  import_playbook: "sec_host.yml"
  vars: 
    new_ssh_port_number: "{{ vm_custom_ssh_port }}"

- name:  "Update the ssh port on AWX"
  hosts: localhost
  gather_facts: no
  vars:
    controller_host: "{{ lookup('env', 'AWX_DEMO_SERVICE_PORT_80_TCP_ADDR') }}"
    controller_port: "{{ lookup('env', 'AWX_DEMO_SERVICE_PORT_80_TCP_PORT') }}"

  tasks:
    - name: "Update inventory"
      awx.awx.host:
        inventory: "{{ awx_inventory_name }}"
        name: "{{ vm_name }}"
        controller_oauthtoken: "{{ controller_oauthtoken }}"
        controller_username: "{{ awx_user_name }}"
        controller_host: "http://{{controller_host }}:{{ controller_port }}"
        variable:
          ansible_ssh_port: "{{ vm_custom_ssh_port }}"

...
