apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.key }}
spec:
  capacity:
    storage: {{ item.value.storage }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: {{ item.value.persistentVolumeReclaimPolicy }}
  hostPath:
    path: /tmp/{{ item.key }}