---
- name: "Build OpenStack authentication for v3password"
  import_playbook: "../openstack/openstack_auth_passstore_v3password.yml"

- name: "Install OCP"
  hosts: localhost
  gather_facts: true

  # pre_tasks:
  #   - name: "Set openstack_auth facts"
  #     set_fact:
  #       openstack_auth: 
  #         openstack_project_name: "{{ query('passwordstore', 'openstack/host/project_name')[0] }}"
  #         openstack_console_user:  "{{ query('passwordstore', 'openstack/host/console_user')[0] }}"
  #         openstack_console_password: "{{ query('passwordstore', 'openstack/host/console_pw')[0] }}"
  #         openstack_user_domain:  "{{ query('passwordstore', 'openstack/host/console_domain')[0] }}"
  #         openstack_project_domain: "{{ query('passwordstore', 'openstack/host/os_domain')[0] }}"
  #         openstack_os_auth_url: "{{ query('passwordstore', 'openstack/host/os_auth_url')[0] }}"
          
  tasks:
    - name: "Deploy OCP"
      import_role:
        name: 'ocp_cluster'
      vars:
        state: present
...
