{
  "admissionConfig": {
    "pluginConfig": {
      "MutatingAdmissionWebhook": {
        "configuration": {
          "apiVersion": "v1",
          "disable": false,
          "kind": "DefaultAdmissionConfig"
        }
      },
      "ValidatingAdmissionWebhook": {
        "configuration": {
          "apiVersion": "v1",
          "disable": false,
          "kind": "DefaultAdmissionConfig"
        }
      }
    }
  }
}
