{
  "hosts": [
    "{{ registry.service_name}}.{{ registry.namespace }}.svc",
    "{{ registry.service_name}}.{{ registry.namespace }}.svc.cluster.local",
    "{{ cluster_ip_address }}",
    "IP Address: {{ cluster_ip_address }}"
  ],
  "CN": "{{ cluster_ip_address }}",
  "key": {
    "algo": "ecdsa",
    "size": 256
  }
}
