apiVersion: certificates.k8s.io/v1beta1
kind: CertificateSigningRequest
metadata:
  name: {{ registry.service_name}}.{{ registry.namespace }}
spec:
  groups:
  - system:authenticated
  request: {{ csr_base64.stdout }}
  usages:
  - digital signature
  - key encipherment
  - server auth
