apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-registry
  namespace: kube-system
  labels:
    k8s-app: kube-registry
    version: v0
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: kube-registry
    version: v0
  template:
    metadata:
      labels:
        k8s-app: kube-registry
        version: v0
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
        - name: registry
          image: registry:2
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
          env:
            - name: REGISTRY_HTTP_ADDR
              value: :5000
            - name: REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY
              value: /var/lib/registry
            - name: REGISTRY_HTTP_TLS_CERTIFICATE
              value: /certs/server.crt
            - name: REGISTRY_HTTP_TLS_KEY
              value: /certs/server-key.pem
          volumeMounts:
            - name: image-store
              mountPath: /var/lib/registry
            - name: certs
              mountPath: /certs
          ports:
            - containerPort: 5000
              name: registry
              protocol: TCP
      volumes:
        - name: image-store
          persistentVolumeClaim:
            claimName: kube-registry-pvc
        - name: certs
          hostPath:
            path: /root/docker-certs
