apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: k8s-dashboard-certificate
  namespace: {{ k8s_dashboard_namespace }}
spec:
  keySize: 2048
  keyAlgorithm: rsa
  issuerRef:
    kind: Issuer
    name: letsencrypt-{{ letsencrypt_env }}-{{ letsencrypt_name }}
  secretName: kubernetes-dashboard-certs
  dnsNames:
  - k8s-console.{{ k8s_dashboard_ingress_host }}
  acme:
    config:
      - http01:
          ingressClass: nginx
        domains:
        - k8s-console.{{ k8s_dashboard_ingress_host }}
