{% set dnsNameList = (item.names.split(",")) %}
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: {{ item.name }}
  labels:
    app: ca-cert
  namespace: {{ item.namespace }}
spec:
  renewBefore: {{ renewBefore }}
  keySize: 2048
  keyAlgorithm: rsa
  issuerRef:
    kind: Issuer
    name: letsencrypt-{{ letsencrypt_env }}-{{ item.name }}
  secretName: {{ item.secretname }}
  dnsNames:
  {% for i in dnsNameList %}
  - '{{ i }}'
  {% endfor %}
