apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  labels:
    app: ca-cert
  namespace: {{ item.namespace }}
type: Opaque
stringData:
#  token: "{ { godaddy_token } }"
  token: "sso-key {{ api_key }}:{{ api_secret }}"
