---

- name: "Openstack VM init"
  hosts: "{{ vm_name | default([]) }}"
  gather_facts: "{{ vm_name is defined and (not skip_post_installation is defined or not skip_post_installation) }}"
  module_defaults:
    ansible.builtin.setup:
      gather_timeout: 45000

  tasks:
    - name: Init RHOS VM
      ansible.builtin.include_role:
        name: "openstack/init_vm"

...
