---
# Variables:
#  - "vm_name": "n311-test"
#  - "openstack": {
#      "vm": {
#        "network": "provider_net_shared"
#      }
#    }}
#  . k8s_type: Kubernetes host type [masters,nodes], empty for no k8s installation
#  . k8s_version: Kubernetes version [117 ... 121], empty for no k8s installation

- name: "Init passwordstore on controller"
  import_playbook: "../passstore/passstore_controller_init.yml"
  vars:
    pass_provider: "openstack"
    
- name: "Validate passwordstore"
  import_playbook: "../passstore/passstore_controller_check.yml"

# tag::initialize_passwordstore_inventory[]
- name: "Initialize passwordstore inventory"
  import_playbook: "../passstore/passstore_controller_inventory.yml"
  vars:
    vm_user: "snowdrop"
    pass_provider: "openstack"
# end::initialize_passwordstore_inventory[]

- name: "Openstack VM create"
  hosts: localhost
  gather_facts: True
    
  pre_tasks:
    - name: "Set openstack_auth facts"
      ansible.builtin.set_fact:
        openstack_auth: 
          openstack_project_name: "{{ query('passwordstore', 'openstack/host/project_name')[0] }}"
          openstack_console_user:  "{{ query('passwordstore', 'openstack/host/console_user')[0] }}"
          openstack_console_password: "{{ query('passwordstore', 'openstack/host/console_pw')[0] }}"
          openstack_user_domain:  "{{ query('passwordstore', 'openstack/host/console_domain')[0] }}"
          openstack_project_domain: "{{ query('passwordstore', 'openstack/host/os_domain')[0] }}"
          openstack_os_auth_url: "{{ query('passwordstore', 'openstack/host/os_auth_url')[0] }}"

  tasks:
    # outputs: 
    #   . openstack_vm_ipv4
    #   . openstack_output
    - name: "Execute create inventory, if tagged as so"
      include_role:
        name: "snowdrop.cloud_infra.openstack_vm"
        apply:
          tags:
            - always
      vars: 
        state: "present"

  post_tasks:
    - name: "Store host IP on passwordstore"
      set_fact:
        openstack_vm_ipv4: "{{ query('passwordstore', 'openstack/' + vm_name + '/ansible_ssh_host create=True userpass=' + openstack_vm_ipv4 )[0] }}"

    - name: Refresh the inventory so the newly added host is available
      meta: refresh_inventory

- name:  "Wait for the VM to boot and we can ssh"
  hosts: "{{ vm_name | default([]) }}"
  gather_facts: no

  tasks:
    - name: "Show 'Wait for connection to host' output"
      debug:
        msg: 
          - "ip : {{ query('passwordstore', 'openstack/' + inventory_hostname + '/ansible_ssh_host')[0] }}"
          - "port : {{ query('passwordstore', 'openstack/' + inventory_hostname + '/ansible_ssh_port')[0] }}"

    - name: "Wait for connection to host"
      ansible.builtin.wait_for:
        host: "{{ query('passwordstore', 'openstack/' + inventory_hostname + '/ansible_ssh_host')[0] }}"
        port: "{{ query('passwordstore', 'openstack/' + inventory_hostname + '/ansible_ssh_port')[0] }}"
        timeout: 120
      vars:
        ansible_connection: local
      register: wait_for_connection_reg

  post_tasks:
    - name: "DON'T FORGET TO SECURE YOUR SERVER"
      debug:
        msg: "Trying to start start server securization automatically For manual execution: $ ansible-playbook ansible/playbook/sec_host.yml -e vm_name={{ vm_name }} -e provider=openstack"

- name: "Add to known hosts"
  hosts: localhost
  gather_facts: True

  tasks:
    - name: "Add host to known hosts {{ hostvars[vm_name]['ansible_ssh_host'] }}"
      ansible.builtin.known_hosts:
        name: "{{ hostvars[vm_name]['ansible_ssh_host'] }}"
        key: "{{ lookup('pipe', 'ssh-keyscan {{ hostvars[vm_name].ansible_ssh_host }}') }}"
        hash_host: true

- name: "Openstack VM init"
  hosts: "{{ vm_name | default([]) }}"
  gather_facts: yes

  roles:
    - role: "openstack/init_vm"

- name: "Secure new server"
  import_playbook: "../sec_host.yml"
  vars:
    provider: "openstack"
    hosts: "{{ vm_name | default([]) }}"
  tags: [always]
...
