# default values required
# 1.21.4
k8s_version: 1.23.6
remove: false
remote: true

ingress_host: "{{ ansible_ssh_host }}.nip.io"
# install_docker: false
# install_containerd: true

firewalld_public_ports:
  - 6443/tcp
  - 10250/tcp
  - 10255/tcp
  - 8472/udp
  - 30000-32767/tcp
  - 8080/tcp

firewalld_public_services:
  - http
  - https

pod_subnet: 10.244.0.0/16
service_subnet: 10.96.0.0/12

coreos_flannel_sha_commit: 2140ac876ef134e0ed5af15c65e414cf26827915

calico_version: v3.26.1
cp_name: control-plane
