{
  "oauthConfig": {
    "identityProviders": [
      {
        "challenge": true,
        "login": true,
        "mappingMethod": "add",
        "name": "htpassword",
        "provider": {
          "apiVersion": "v1",
          "kind": "HTPasswdPasswordIdentityProvider",
          "file": "{{ openshift_env.htpasswd_file }}"
        }
      }
    ]
  }
}
