kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - protocol: TCP
        containerPort: 80
        hostPort: 80
        listenAddress: 0.0.0.0
      - protocol: TCP
        containerPort: 443
        hostPort: 443
        listenAddress: 0.0.0.0
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:{{ registry_port }}"]
      endpoint = ["http://{{ registry_name }}:{{ registry_port }}"]
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ registry_name }}:{{ registry_port }}"]
      endpoint = ["http://{{ registry_name }}:{{ registry_port }}"]
