[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_user=root

public_ip_address={{ ip_address }}
host_key_checking=false

{% if openshift_origin_version == '3.9' %}
containerized=true
openshift_enable_excluders=false
openshift_release=v{{ openshift_origin_version }}
{% else %}
containerized=false
openshift_release=v{{ openshift_origin_version }}
openshift_pkg_version=-{{ openshift_origin_version }}.0
{% endif %}

openshift_deployment_type=origin

openshift_hostname={{ ip_address }}
openshift_master_cluster_public_hostname={{ ip_address }}
openshift_master_default_subdomain={{ ip_address }}.nip.io
openshift_master_unsupported_embedded_etcd=true

# To avoid message
# - Available disk space in "/var" (9.5 GB) is below minimum recommended (40.0 GB)
# - Docker storage drivers 'overlay' and 'overlay2' are only supported with 'xfs' as the backing storage, but this host's storage is type 'extfs'
# - Available memory (2.0 GiB) is too far below recommended value (16.0 GiB)
# - Docker version is higher than expected
openshift_disable_check = docker_storage,memory_availability,disk_availability,docker_image_availability,package_version

# we need to increase the pods per core because we might temporarily have multiple build pods running at the same time
openshift_node_kubelet_args={'pods-per-core': ['20']}

openshift_enable_service_catalog=false

ansible_python_interpreter=/usr/bin/python

# enable htpasswd auth
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
# htpasswd -nb admin admin
openshift_master_htpasswd_users={'admin': '$apr1$DloeoaY3$nqbN9fQBkyXgbj58buqEM.'}


{% set host_info = 'localhost ansible_connection=local' if ((use_local is defined) and (use_local | bool)) else ip_address %}

# host group for masters
[masters]
{{ host_info }} openshift_public_hostname={{ ip_address }} openshift_ip={{ ip_address }}

# host group for etcd, should run on a node that is not schedulable
[etcd]
{{ host_info }} openshift_ip={{ ip_address }}

# host group for worker nodes, we list master node here so that
# openshift-sdn gets installed. We mark the master node as not
# schedulable.
[nodes]
{{ host_info }} openshift_node_labels="{'region':'infra','zone':'default', 'node-role.kubernetes.io/compute': 'true'}" openshift_public_hostname={{ ip_address }} openshift_ip={{ ip_address }}