[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_user={{ username | default('root') }}
{% if keyfile is defined %}
ansible_ssh_private_key_file={{ keyfile }}
{% endif %}

public_ip_address={{ ip_address }}
host_key_checking=false

openshift_release="{{ openshift_origin_version }}"

openshift_deployment_type=origin

openshift_additional_repos=[{'id': 'origin-repo', 'name': 'Origin-RPMs', 'baseurl': 'https://storage.googleapis.com/origin-ci-test/logs/test_branch_origin_extended_conformance_gce_310/27/artifacts/rpms', 'enabled': 1, 'gpgcheck': 0}]

openshift_hostname={{ hostname if (hostname is defined) else ip_address }}
openshift_master_cluster_public_hostname={{ ip_address }}
openshift_master_default_subdomain={{ ip_address }}.nip.io

# To avoid message
# - Available disk space in "/var" (9.5 GB) is below minimum recommended (40.0 GB)
# - Docker storage drivers 'overlay' and 'overlay2' are only supported with 'xfs' as the backing storage, but this host's storage is type 'extfs'
# - Available memory (2.0 GiB) is too far below recommended value (16.0 GiB)
# - Docker version is higher than expected
openshift_disable_check = docker_storage,memory_availability,disk_availability,docker_image_availability,package_version

# Python Interpreter
ansible_python_interpreter=/usr/bin/python

# Enable htpasswd auth
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
# htpasswd -nb admin admin
openshift_master_htpasswd_users={'admin': '$apr1$DloeoaY3$nqbN9fQBkyXgbj58buqEM.'}

openshift_node_groups=[{'name': 'node-config-all-in-one', 'labels': ['node-role.kubernetes.io/master=true', 'node-role.kubernetes.io/infra=true', 'node-role.kubernetes.io/compute=true'], 'edits': [{ 'key': 'kubeletArguments.pods-per-core','value': ['20']}]}]

# don't install ASB be default
ansible_service_broker_install=false
# we need to pin the version of the catalog (in case it get's installed) to a valid 1.2 version
# See https://github.com/openshift/openshift-ansible/issues/9960#issuecomment-420686883
ansible_service_broker_image=docker.io/ansibleplaybookbundle/origin-ansible-service-broker:ansible-service-broker-1.2.17-1


{% set host_info = 'localhost ansible_connection=local' if ((use_local is defined) and (use_local | bool)) else ip_address %}
{% set private_ip_address = private_ip_address if (private_ip_address is defined) else ip_address %}

# host group for masters
[masters]
{{ host_info }} openshift_public_hostname={{ ip_address }} openshift_hostname={{ private_ip_address }}

# host group for etcd, should run on a node that is not schedulable
[etcd]
{{ host_info }} openshift_ip={{ private_ip_address }}

# host group for worker nodes, we list master node here so that
# openshift-sdn gets installed. We mark the master node as not
# schedulable.
[nodes]
{{ host_info }} openshift_node_group_name="node-config-all-in-one" openshift_public_hostname={{ ip_address }} openshift_hostname={{ private_ip_address }}
