---

- name: Include firewalld handlers
  include_role:
    name: "sec/firewalld"

- name: Add masquerade to trusted zone
  firewalld:
    masquerade: True | bool
    zone: "trusted"
    permanent: yes
    state: enabled
  notify: Restart firewalld
  become: yes

- name: Add source network to trusted sources
  firewalld:
    source: "{{ item }}"
    zone: "trusted"
    permanent: yes
    state: enabled
  loop:
    - "{{ pod_subnet }}"
    - "{{ service_subnet }}"
  notify: Restart firewalld
  become: yes

- name: Open k8s known ports
  firewalld:
    port: "{{ item }}"
    zone: "public"
    permanent: yes
    state: enabled
  loop: "{{ firewalld_public_ports }}"
  notify: Restart firewalld
  become: yes

- name: Open k8s known services
  firewalld:
    service: "{{ item }}"
    zone: "public"
    permanent: yes
    state: enabled
  loop: "{{ firewalld_public_services }}"
  notify: Restart firewalld
  become: yes

- name: Flush handlers
  meta: flush_handlers

- include_tasks: docker.yml
  when: install_docker | bool

- name: Add kubernetes repository
  yum_repository:
    name: kubernetes
    description: Kubernetes
    baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
    exclude: kube*
  become: yes

- name: Install Kubernetes packages - {{ k8s_version }}
  yum:
    name: "{{ packages }}"
    state: present
    disable_excludes: kubernetes
  vars:
    packages:
      - kubeadm-{{ k8s_version }}
      - kubectl-{{ k8s_version }}
      - kubelet-{{ k8s_version }}
  become: yes

- name: Disable selinux
  shell: |
    setenforce 0
    sed -i 's/^SELINUX=.*/SELINUX=disabled/g' /etc/selinux/config
    getenforce
  become: yes

- name: Start kubelet
  systemd:
    state: started
    name: kubelet
    enabled: yes
  become: yes

- name: Create k8s conf file
  template:
    src: "k8s.conf.j2"
    dest: /etc/sysctl.d/k8s.conf
  become: yes

- name: Make k8s conf file take effect
  command: "sysctl --system"
  become: yes

- name: Pull k8s linux images for version {{ k8s_version }}
  command: "kubeadm config images pull --kubernetes-version {{ k8s_version }}"
  become: yes

- name: Initialize cluster for k8s - {{ k8s_version }}
  command: "kubeadm init --pod-network-cidr={{ pod_subnet }} --apiserver-advertise-address={{ ansible_ssh_host }} --kubernetes-version {{ k8s_version }}"
  register: kubeadm_init_res
  changed_when: "kubeadm_init_res.rc == 0"
  failed_when: "kubeadm_init_res.rc != 0  and 'already exists' not in kubeadm_init_res.stderr"
  become: yes

- name: "Install Flannel Virtual Network for pod communication"
  shell: |
    kubectl -n kube-system get deployment coredns -o yaml | sed 's/allowPrivilegeEscalation: false/allowPrivilegeEscalation: true/g' | kubectl apply -f -
    kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/{{ coreos_flannel_sha_commit }}/Documentation/kube-flannel.yml

- name: Taint the node
  command: "kubectl taint nodes --all node-role.kubernetes.io/master-"
  become: yes

- name: Generate ClusterRole file for the sa default and namespace kube-system
  template:
    src: "clusterrole-admin.j2"
    dest: /tmp/clusterrole-admin.yml
  become: yes

- name: Grant Cluster Admin role to the serviceaccount default of kube-system
  shell: |
    kubectl apply -f /tmp/clusterrole-admin.yml
  become: yes

- name: Create persistence volume
  include_tasks: create_single_pv.yml
  vars:
    volume_name: "pv{{ item }}"
  with_sequence: start=1 count=5 format=%03d

- name: Create k8s config folder for os user
  file:
    path: ".kube"
    state: directory
    mode: '0755'

- name: Copy k8s config file
  copy:
    src: "/etc/kubernetes/admin.conf"
    dest: ".kube/config"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
    remote_src: yes
  become: yes

- name: Execute k8s_config role
  include_role:
    name: k8s_config
  when: remote | bool

...