- name: Reset kubeadm
  command: kubeadm reset -f

- name: Remove Kubernetes packages - kubeadm, kubelet, kubectl
  yum:
    name: "{{ packages }}"
    state: absent
    disable_excludes: kubernetes
  vars:
    packages:
      - kubeadm-{{k8s_version}}
      - kubectl-{{k8s_version}}
      - kubelet-{{k8s_version}}
