[Unit]
Description=OpenShift oc cluster up Service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/var/lib/origin/oc_start.sh
ExecStop=/var/lib/origin/oc_stop.sh
WorkingDirectory=/var/lib/origin/openshift.local.clusterup/
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=occlusterup
User=root
Type=oneshot
RemainAfterExit=yes
TimeoutSec=300

[Install]
WantedBy=multi-user.target
