apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: www-snowdrop-me
  namespace: <SNOWDROP_SERVERS_NAMESPACE>
spec:
  renewBefore: 2159h # That corresponds to a period of 3months - 1h or 89d23h
  keySize: 2048
  keyAlgorithm: rsa
  dnsNames:
  - <DNS_NAME>
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-<ENV>>
  secretName: <SECRET_TLS_NAME>
