[defaults]
inventory = inventory/
# Needed to be able to override selected variables from the command line
hash_behaviour = merge
roles_path = roles/

# enable callback plugins, they can output to stdout but cannot be 'stdout' type.
callbacks_enabled = profile_tasks
