.objects += [
    {
        "apiVersion": "v1",
        "kind": "Secret",
        "metadata": {
            "name": "snowdrop-pull-secret",
            "namespace": "\\{{ project_name }}"
        },
        "type": "kubernetes.io/dockerconfigjson",
        "data": {
        
            ".dockerconfigjson": "{{ registry.redhat.io-token }}"
        }
    }
]
