clouds:
  openstack:
    auth_type: "{{ rhos_auth_type }}"
    auth: 
      auth_url: "{{ rhos_auth.auth_url }}"
      password: "{{ rhos_auth.password }}"
      project_domain_name: "{{ rhos_auth.project_domain_name }}"
      project_name: "{{ rhos_auth.project_name }}"
      username: "{{ rhos_auth.username }}"
      user_domain_name: "{{ rhos_auth.user_domain_name }}"
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3
