---
# tasks for hetzner/create_server
- name: Get server public key from pass
  set_fact:
    hetzner_public_key: "{{ lookup('passwordstore', 'hetzner/id_rsa.pub' ) }}"
  when: "override_public_key is not defined"

- name: Get server public key from file
  set_fact:
    hetzner_public_key: "{{ lookup('file', override_public_key ) }}"
  when: "override_public_key is defined"

- name: "Create cloud server key"
  shell: "hcloud ssh-key create --name {{ context_name }} --public-key \"{{ hetzner_public_key }}\""
  register: hcloud_ssh_key_res
  changed_when: "hcloud_ssh_key_res.rc == 0"
  failed_when: "hcloud_ssh_key_res.rc != 0 and ('SSH key with the same fingerprint already exists' not in hcloud_ssh_key_res.stderr)"

...
