apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  labels:
    app: kubernetes-dashboard
  name: k8s-dashboard
  namespace: {{ k8s_dashboard_namespace }}
spec:
  tls:
  - hosts:
    - k8s-console.{{ k8s_dashboard_ingress_host }}
    secretName: kubernetes-dashboard-certs
  rules:
  - host: k8s-console.{{ k8s_dashboard_ingress_host }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
        path: /
