# ---
# apiVersion: v1
# kind: ServiceAccount
# metadata:
#   name: admin-user
#   namespace: {{ k8s_dashboard_namespace }}
#
# ---
# apiVersion: rbac.authorization.k8s.io/v1
# kind: ClusterRoleBinding
# metadata:
#   name: admin-user
# roleRef:
#   apiGroup: rbac.authorization.k8s.io
#   kind: ClusterRole
#   name: cluster-admin
# subjects:
# - kind: ServiceAccount
#   name: admin-user
#   namespace: {{ k8s_dashboard_namespace }}

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cluster-admin-for-bootstrappers
subjects:
- kind: Group
  name: {{ k8s_dashboard_token_auth_extra_group }}
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-{{ k8s_dashboard_token_public }}
  namespace: kube-system

type: bootstrap.kubernetes.io/token
stringData:
  # Human readable description. Optional.
  description: {{ k8s_dashboard_token_description }}

  # Token ID and secret. Required.
  token-id: {{ k8s_dashboard_token_public }}
  token-secret: {{ k8s_dashboard_token_secret }}

  # Expiration. Optional.
  # expiration: {{ ansible_date_time.iso8601 }}

  # Allowed usages.
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
  auth-extra-groups: {{ k8s_dashboard_token_auth_extra_group }}:worker
