enableSkipLogin: true

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  hosts:
    - {{ dashboard_name }}.{{ ingress_host }}

rbac:
  create: true
  clusterAdminRole: true

