{% set dnsNameList = (item.names.split(",")) %}
apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: letsencrypt-{{ letsencrypt_env }}-{{ item.name }}
  labels:
    app: ca-cert
  namespace: {{ item.namespace }}
spec:
  acme:
    server: {{ letsencrypt_url }}
    email: {{ letsencrypt_email }}
    privateKeySecretRef:
      name:  letsencrypt-{{ letsencrypt_env }}-{{ item.name }}
    solvers:
      - dns01:
          webhook:
            config:
              apiKeySecretRef:
                name: godaddy-api-key
                key: token
              production: true
              ttl: 600
            groupName: acme.mycompany.com
            solverName: godaddy
        selector:
          dnsNames:
          {% for i in dnsNameList %}- '{{ i }}'
{% endfor %}

