---
- name: "Install Kubernetes"
  import_playbook: "k8s_install.yml"

- name: "Get k8s configuration"
  import_playbook: "k8s_get_config.yml"

# Requires:
# . k8s_config
# . k8s_dashboard_token
- name: "Update passwordstore configuration"
  hosts: localhost
  gather_facts: True

  tasks:
    - name: "Add kube config to the passwordstore"
      include_role:
        name: "passstore/ansible_inventory"
        tasks_from: "add_variable"
      vars:
        pass_l1: "snowdrop"
        pass_l2: "{{ provider }}"
        pass_l3: "{{ vm_name }}"
        var_name: "kube_config"
        var_value: "{{ k8s_config }}"

    - name: "Add k8s dashboard tokento the passwordstore"
      include_role:
        name: "passstore/ansible_inventory"
        tasks_from: "add_variable"
      vars:
        pass_l1: "snowdrop"
        pass_l2: "{{ provider }}"
        pass_l3: "{{ vm_name }}"
        var_name: "k8s_dashboard_token"
        var_value: "{{ k8s_dashboard_token }}"
...
