---
# Requires:
#  . api_key: GoDaddy API Key for authentication
#  . api_secret: GoDaddy API KeySecret for authentication

- name: "Validate passwordstore"
  import_playbook: "../passstore/passstore_controller_check.yml"

# tag::load_godaddy_passwordstore_auth[]
- name: "Build GoDaddy authentication, if not provided"
  import_playbook: "./godaddy_auth_passwordstore.yml"
  when: api_key is undefined and api_secret is undefined
# end::load_godaddy_passwordstore_auth[]

- name: "GoDaddy DNS create"
  hosts: localhost
  gather_facts: True
    
  tasks:
    - name: "Create DNS record"
      include_role:
        name: "snowdrop.godaddy.dns"
      vars: 
        state: "present"

    - name: "Print Create result"
      debug:
        var: godaddy_dns

    - name: "Get DNS information"
      include_role:
        name: "snowdrop.godaddy.dns_info"

    - name: "Print GET result"
      debug:
        var: godaddy_dns_info
...
# ansible-playbook ansible/playbook/godaddy/godaddy_dns_create_passwordstore.yml -e domain_name="snowdrop.dev" -e record_type=A -e record_name="apps.ocp" -e '{"dns": {"data": "10.0.215.34"}}'
