---
name: Pull Request Test
on:
  push:
    branches-ignore:
      - master
      - main
  workflow_dispatch:
  pull_request:

jobs:
  test-pr:
    name: Test Collection Roles
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # openstack_version: ["master"]
        python: [ pypy3.8 ]
        roles: [openstack_vm]
    steps:
      # - name: Create stack user
        # run: tools/create-stack-user.sh
      - name: Checkout project
        uses: actions/checkout@v3
      - uses: actions/setup-python@v4 
        with:
          python-version:  ${{ matrix.python }}
          cache: pip
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.11
        with:
          enabled_services: 's-account,s-container,s-object,s-proxy'
          cache: devstack
      - name: Install python requirements
        run: pip install -r requirements.txt
      - name: Build Ansible Collection
        run: ansible-galaxy collection build ansible/ansible_collections/snowdrop/cloud_infra --output build/ --force
      - name: Install Ansible Collection
        run: ansible-galaxy collection install ./build/snowdrop-cloud_infra-1.0.0.tar.gz --upgrade
      - name: Run tests
        run: molecule test --scenario-name github
        working-directory: ansible/ansible_collections/snowdrop/cloud_infra/roles/${{ matrix.roles }}
...
