---
name: Pull Request Test
on:
  push:
    branches-ignore:
      - master
      - main
  workflow_dispatch:
  pull_request:

jobs:
  test-pr:
    name: Test Collection Roles
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ pypy3.8 ]
        roles: [openstack_vm]
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - uses: actions/setup-python@v4 
        with:
          python-version:  ${{ matrix.python }}
          cache: pip
      - name: Install python requirements
        run: pip install -r requirements.txt
      - name: Build Ansible Collection
        run: ansible-galaxy collection build ansible/ansible_collections/snowdrop/cloud_infra --output build/ --force
      - name: Install Ansible Collection
        run: ansible-galaxy collection install ./build/snowdrop-cloud_infra-1.0.0.tar.gz --upgrade
      - name: Open role folder
        run: cd ansible/ansible_collections/snowdrop/cloud_infra/roles/${{ matrix.roles }}
      - name: Run tests
        run: molecule test
...
