ocp_mirror: https://mirror.openshift.com/pub/openshift-v4/clients/ocp
ocp_version: 4.12.8
ocp_cluster_name: ocp
ocp_user: snowdrop
ocp_install_dir: openshift-data

# tag::rhos_default_flavors[]
# OpenStack flavors
# ci.m1.xlarge: { vCPUs: 8, RAM: 16GB, Disk: ???GB }
# ci.m1.large: { vCPUs: 4, RAM: 8GB, Disk: ???GB }
# ocp4.single-node: { vCPUs: 24, RAM: 48GB, Disk: 200GB }
# ocp4.control: { vCPUs: 4, RAM: 16GB, Disk: 100GB }
# ocp4.compute: { vCPUs: 2, RAM: 8GB, Disk: 100GB }
# ocp4.bootstrap: { vCPUs: 4, RAM: 16GB, Disk: 100GB }
openstack_flavor_control_plane: ocp4.control
openstack_flavor_compute: ocp4.compute
# end::rhos_default_flavors[]
# provider_net_cci_13
# provider_net_shared
# tag::rhos_default_network_provider[]
openstack_network_provider: provider_net_cci_13
# end::rhos_default_network_provider[]

snowdrop_domain: snowdrop.dev
project_name: snowdrop
use_logo: false
install_operators: false
configure_rh_reg: false
remove_kubeadmin: false

use_dns: false
# Values: godaddy, local
dns_provider: godaddy
